APP_NAME=Production RAG
ENVIRONMENT=local
LOG_LEVEL=INFO

GEMINI_API_KEY=
GEMINI_MODEL=gemini-2.0-flash
GEMINI_EMBEDDING_MODEL=gemini-embedding-001
GEMINI_EMBEDDING_DIMENSIONS=768

REDIS_URL=redis://localhost:6379/0
CELERY_BROKER_URL=redis://localhost:6379/1
CELERY_RESULT_BACKEND=redis://localhost:6379/2

QDRANT_URL=http://localhost:6333
QDRANT_API_KEY="api_key"
QDRANT_COLLECTION=documents

LANGFUSE_PUBLIC_KEY=
LANGFUSE_SECRET_KEY=
LANGFUSE_HOST=https://cloud.langfuse.com

TOP_K_DENSE=30
TOP_K_SPARSE=30
TOP_K_FINAL=8
